## We will be working with database chinook.db
You can download it here: https://drive.google.com/file/d/0Bz9_0VdXvv9bWUtqM0NBYzhKZ3c/view?usp=sharing

The	Chinook	Database is	about an imaginary video and music store. Each track is	stored using one of	the digital formats and	has	a genre. The store has also	some playlists,	where a single track can be	part of several	playlists. Orders are recorded	for	customers, but are called invoices. Every customer is assigned a support employee, and Employees report to other employees.

### How to connect Python to database
In the begining of this exercise we are going to show we can work with the databases inside the Python. We will connect this notebook to the `chinook.db` file we have downloaded earlier.

<img src="chinook.jpeg" alt="Drawing" style="width: 600px;"/>

In [5]:
#import os.path
import os
import sqlite3
import pandas as pd
BASE_DIR = os.getcwd()
db_path = os.path.join(BASE_DIR, 'chinook.db')
db=sqlite3.connect(db_path)
c=db.cursor()

c.execute("SELECT * FROM artists limit 5")
results = c.fetchall()
print(results)

#print(c.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall())


#print"select * from artists limit 5;"

[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains')]

In [6]:
cur = db.cursor()
cur.execute("select * from artists limit 5;")
results = cur.fetchall()
print(results)

[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains')]

- each row is represented as 1 item in the list
- each row consists of tuple with number of items equal to number of columns in the table `artists`

In [7]:
# Before we move on, it’s good practice to close Connection objects and Cursor objects that are open. 
# This prevents the SQLite database from being locked.
#cur.close()
#conn.close()
#c.execute("SELECT * FROM artists")
#df = pd.DataFrame()
df = pd.read_sql_query("SELECT * from artists", db)
df.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

Now, we can solve simple challenges below. Feel free to use **SQLWorkbench**, the tool we connected to `chinook.db` database during the tutorial in the morning, for building the queries as well.

### Which	artists	did	not	make	any	albums	at	all?	Include	their	names	in your	answer.

### Which	artists	recorded	any	tracks	of	the	Latin	genre?

### Which	video track	has	the	longest	length?

### Find	the	names	of	customers	who	live	in	the	same	city	as	the	top	employee	(The	one	not	managed	by	anyone).

### Find	the	managers of	employees	supporting	Brazilian	customers.

### Which	playlists	have	no	Latin	tracks?

In [1]:
#import os.path
import os
import sqlite3
BASE_DIR = os.getcwd()
db_path = os.path.join(BASE_DIR, 'chinook.db')
db=sqlite3.connect(db_path)
c=db.cursor()
#print(c.execute("SELECT name FROM sqlite_master WHERE type=‘table’").fetchall())
print(c.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall())
"select * from artists limit 5;"

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]